global
    daemon
    maxconn 256
    log /dev/log local0

defaults
    mode http
    log global
    option httplog
    timeout connect 2s
    timeout client 30000ms
    timeout server 30000ms

frontend http_front
    bind *:80
    default_backend servers

backend servers
    balance roundrobin
    option httpchk
    http-check send meth GET uri /
    http-check expect status 200
    {% for host in groups['webservers'] %}
        server {{ host }} {{ hostvars[host].private_ip }}:80 maxconn 32 check inter 4s fastinter 1s downinter 2s rise 3 fall 3
    {% endfor %}

listen stats
    bind *:8404
    stats enable
    stats uri /stats
    stats refresh 10s
    stats auth admin:admin
